<%- include('../layout/header') %>
    <!-- Banner -->
    <section id="banner" class="major">
        <div class="inner">
            <header class="major">
                <h1>Hi, Welcome to my website!</h1>
            </header>
            <div class="content">
                <p>Open Source projects developed by <a href="http://github.com/KatowProject"
                        target="_blank">KatowProject</a></p>
                <ul class="actions">
                    <li><a href="#one" class="button next scrolly">Get Started</a></li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Main -->
    <div id="main">

        <!-- One -->
        <section id="one" class="tiles">
            <% data.forEach(a=> { %>
                <article>
                    <span class="image content">
                        <img src="<%= a.image %>" alt="" class="fade-in" />
                    </span>
                    <header class="major">
                        <h3><a href="<%= a.url %>" class="link">
                                <%= a.name %>
                            </a></h3>
                        <p>
                            <%= a.description %>
                        </p>
                    </header>
                </article>
                <% }) %>
        </section>

        <section id="three">
            <div class="inner">
                <header class="major">
                    <h2>See More Project</h2>
                </header>
                <ul class="actions">
                    <li><a href="/projects" class="button next">Get Details</a></li>
                </ul>
            </div>
        </section>
    </div>

    <%- include('../layout/footer') %>